body {
    font-style: italic;
    margin: 0;
    background-image: url('/img/cork.png');
    background-repeat: repeat;
}


header.header {
  height: 100px;
  background-image: url("/img/wall.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;   /* centra orizzontale */
  align-items: center;       /* centra verticale */
}

header .title {
  margin: 0;
  font-size: 3rem;
  color: black;
}


.board {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}


.pin-card {
    text-align: center;
}

.pin-img {
    position: absolute;
    top: -20px;
    left: 45%;
    width: 40px;
}

.pin-caption {
    font-size: 1rem;
    font-style: italic;
    margin: 0;
}